{% extends "layout.html.twig" %}
{% set user_id = customer|default('') %}

{% block content %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-4">
    
    <div class="panel panel-info">
        {% if user is defined %}
        {% set user_id = user["c_id"] %}
        <div class="row"></div>
        <div class="panel-heading">Dane Klienta</div>
        <div class="card">
                <div class="card-body">
                    <h4>{{ user['c_name'] }} {{ user['c_surname'] }} <span class="label label-info">{{ user['c_roles'] }}</span></h4>
                    <h5 class="card-title"> {{ user['c_islocked']|status_locked_label|raw }} {{ user['c_isactive']|status_active_label|raw }} 
                    </h5>
                    
                    <div class="card-text">
                        {% if is_granted('ROLE_ADMIN') and possibleStatusesLock|length > 0 %}
                            <form class="form-inline" action="{{ url('change_status') }}" method="post">
                                <div class="form-group mb-2">
                                    Zmień Status na :
                                </div>
                                
                                {% for status in possibleStatusesLock %}
                                    <div class="form-group mb-2">
                                        <button name="user_islocked" type="submit" class="btn btn-default"
                                                value="{{ user['c_islocked'] }}">{{ status|status_locked }}</button>
                                    </div>
                                {% endfor %}
                                {% for status in possibleStatusesActive %}
                                    <div class="form-group mb-2">
                                        <button name="user_isactive" type="submit" class="btn btn-default"
                                                value="{{ user['c_isactive'] }}">{{ status|status_active }}</button>
                                    </div>
                                {% endfor %}
                                <input type="hidden" name="user_id" value="{{ user['c_id'] }}">
                            </form>
                        {% endif %}
                        <table class="table table-condensed table-hover">
                            <thead>
                            <tr>
                                <th class="col-md-6">Data Rejestracji</th>
                                <th class="col-md-6">Kod Aktywacji</th>
                                <th class="hidden"></th>
                            </tr>
                            </thead>
                            <tbody id="zamowienie3">
                                <td>{{ user['c_registered']|date("Y-m-d H:i:s") }}</td>
                                <td>{{ user['c_activationcode'] }}</td>
                                <td></td>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        {% endif %}
        <div class="panel-heading">Dane Klienta</div>

        {% for i in kontodane %}

            <form action="{{ app.url_generator.generate('kontodane_edit_user')}}" method="post">
                <div class="form-group">
                    <label for="c_name">Imię</label>
                    <input type="text" class="form-control" id="c_name" name="c_name" value="{{ i.c_name }}">
                </div>
                <div class="form-group">
                    <label for="c_surname">Nazwisko</label>
                    <input type="text" class="form-control" id="c_surname" name="c_surname" value="{{ i.c_surname }}">
                </div>
                <div class="form-group">
                    <label for="c_phone">Telefon</label>
                    <input type="tel" class="form-control" id="c_phone" name="c_phone" value="{{ i.c_phone }}">
                </div>
                <div class="form-group">
                    <label for="c_email">E-Mail</label>
                    <input type="email" class="form-control" id="c_email" name="c_email" value="{{ i.c_email }}">
                </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-default"> Zapisz
                        </button>
                    </div>
                <input type="hidden" name="user_id" value="{{ user_id }}">
            </form>

        {% endfor %}

    </div>
        </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">

        <div class="row">

        <div class="panel panel-info">
            <div class="panel-heading">Karty</div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>LP</th>
                <th>Typ</th>
                <th>Numer</th>
                <th>Ważność</th>
                <th>Status</th>
                <th></th>
            </tr>
            </thead>
            <tbody>

            {% for i in cards %}
                <tr>
                    <th>{{ loop.index }}</th>
                    <th>{{ i.card_type }}</th>
                    <th>{{ i.card_number }}</th>
                    <th>{{ i.card_expiry }}</th>
                    <th>
                        {% if i.card_active == 1  %}
                            <span class="label label-success">Aktywna</span>
                        {% else %}
                            <span class="label label-danger">Nie Aktywna</span>
                        {% endif %}
                    </th>
                    <th>
                    {% if i.card_active == 1  %}
                        <a href="{{ app.url_generator.generate('kontodane_block_card', {'card_id' : i.card_id, 'user_id': user_id }) }}"><span class="label label-danger">[ Dezaktywuj ]</span></a>
                    {% endif %}
                    </th>
                    </tr>
            {% endfor %}

            </tbody>
        </table>

        </div>
        </div>
        <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">Zmiana Hasła</div>

            <h4><span id="password_error" class="hidden label label-danger">Wprowadzono Błędne Hasło</span></h4>

            <form name="form_pass" id="form_pass" action="{{ app.url_generator.generate('kontodane_change_pass')}}" method="post">

                <!--<div class="form-group">
                <label for="pass_old">Stare Hasło</label>
                <input type="password" class="form-control" id="pass_old" name="pass_old" placeholder="" value="" required="">
                </div>
                -->

                <div class="form-group">
                <label for="firstName">Nowe Hasło</label>
                <input type="password" class="form-control" id="pass_new" name="pass_new" placeholder="" value="" required="">
                <div class="different_pass">
                    <span id="password_same_error1" class="hidden label label-danger">Hasła nie są identyczne.</span>
                </div>
                </div>

                <div class="form-group">
                <label for="firstName">Powtórz Nowe Hasło</label>
                <input type="password" class="form-control" id="pass_new_repeat" name="pass_new_repeat" placeholder="" value="" required="">
                <div class="different_pass">
                    <span id="password_same_error2" class="hidden label label-danger">Hasła nie są identyczne.</span>
                </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-default"> Zapisz </button>
                </div>
                <input type="hidden" name="user_id" value="{{ user_id }}">
            </form>

        </div>
        </div>

    </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="panel panel-info col-lg-10">
            <div class="panel-heading">Stacje Użytkownika</div>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>LP</th>
                    <th>Miasto</th>
                    <th>Kod Pocztowy</th>
                    <th>Ulica</th>
                    <th>Ulica Adres</th>
                    <th>Nazwa</th>
                    <th><a href="{{ app.url_generator.generate('kontodane_edit_address_', {'address_id' : 0, 'user_id': user_id }) }}"><span class="label label-success">[ Dodaj ]</span></a></th>
                </tr>
                </thead>
                <tbody>

                {% for a in address %}
                    <tr>
                        <th>{{ loop.index }}</th>
                        <th>{{ a.a_city }}</th>
                        <th>{{ a.a_postcode }}</th>
                        <th>{{ a.a_street }}</th>
                        <th>{{ a.a_street_address }}</th>
                        <th>{{ a.a_name }}</th>
                        <th>
                            {% if a.a_active == 1  %}
                                <a href="{{ app.url_generator.generate('kontodane_block_address', {'address_id' : a.a_id, 'user_id': user_id })}}"><span class="label label-danger">[ Usuń ]</span></a>
                            {% endif %}
                        </th>
                        <th>
                        <th>
                            {% if a.a_active == 1  %}
                                <a href="{{ app.url_generator.generate('kontodane_edit_address_', {'address_id' : a.a_id, 'user_id': user_id }) }}"><span class="label label-success">[ Edytuj ]</span></a>
                            {% endif %}
                        </th>
                        </th>
                    </tr>
                {% endfor %}

                </tbody>
            </table>

        </div>
        <div class="col-md-1"></div>
    </div>

{% endblock %}

{% block scripts %}
    <script>

        $('#form_pass').submit(function() {
            if ($('#pass_new').val().localeCompare($('#pass_new').val()) != 0) {
                $('#password_same_error1').removeClass('hidden');
                $('#password_same_error2').removeClass('hidden');
                return false;
            }
        });

    function showPassword() {

    var key_attr = $('#key').attr('type');

    if(key_attr != 'text') {

    $('.checkbox').addClass('show');
    $('#key').attr('type', 'text');

    } else {

    $('.checkbox').removeClass('show');
    $('#key').attr('type', 'password');

    }

    }
    </script>
{% endblock %}