{% set navigation_bar = [['index', 'Home Page'], ['blog', 'Blog'], ['archive', 'Archive']] %}
{% set active_page = active_page|default('index') %}
{% set rows = rows|default('10') %}
{% set customer_name = customer_name|default('') %}
{% set customer = customer|default('') %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="asset('favicon.ico') }}"> -->
        <title>{% block title '' %}</title>

        <link href="{{ asset('css/main.css') }}" rel="stylesheet" type="text/css" />
    <!-- Bootstrap core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="{{ asset('css/bootstrap-theme.min.css') }}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="{{ asset('assets/css/ie10-viewport-bug-workaround.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('theme.css') }}" rel="stylesheet">

    <!-- TreeView Styles -->
    <link href="{{ asset('css/treeview.css') }}" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="{{ asset('assets/js/ie8-responsive-file-warning.js') }}"></script><![endif]-->
    <script src="{{ asset('assets/js/ie-emulation-modes-warning.js') }}"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{{ asset('js/html5shiv.min.js') }}"></script>
    <script src="{{ asset('js/respond.min.js') }}"></script>
    <![endif]-->
    {% block css %}
    {% endblock %}
</head>
    <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <img class="mb-1 bottom-left" src="{{ asset('assets/brand/bootstrap-solid.svg') }}" alt="" width="48" height="48">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Panel Klienta</a>
            </div>
            {% block menu %}
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li class="active"><a href="{{ app.url_generator.generate('zamowienia', {'rows' : rows } ) }}">Zamówienia</a></li>
                    <li class="dropdown">
                        <a href="{{ app.url_generator.generate('konto')}}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Konto<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ app.url_generator.generate('kontodane')}}">Twoje Dane</a></li>
                            <li><a href="{{ app.url_generator.generate('kontostacje')}}">Twoje Stacje</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ app.url_generator.generate('pomoc')}}">Pomoc</a></li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ app.url_generator.generate('uzytkownicy', {'rows' : rows } ) }}">Użytkownicy</a></li>
                            <li><a href="{{ app.url_generator.generate('uzytkownicy', {'rows' : rows } ) }}">Produkty</a></li>
                        </ul>
                    </li>
                    {% endif %}
                    <li><a href="{{ path('logout') }}">Wyloguj ( {{ customer }} {{ customer_name }} )</a></li>
                    {% else %}
                    <li><a href="{{ app.url_generator.generate('login')}}">Logowanie</a></li>
                    {% endif %}
                </ul>

            </div><!--/.nav-collapse -->
            {% endblock %}
        </div>
    </nav>

        {% block content %}{% endblock %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('assets/js/vendor/jquery.min.js') }}"><\/script>')</script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/docs.min.js') }}"></script>
        {% block scripts %}{% endblock %}
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="{{ asset('assets/js/ie10-viewport-bug-workaround.js') }}"></script>
    </body>

</html>
