{% extends "layout.html.twig" %}

{% block content %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">
            <h1>Edycja Katalogu Produktów</h1>
        </div>
        
        <div class="container" style="margin-top:30px;">
                                <div class="row">
                                    <div hidden id="error_msg" class="alert alert-danger" role="alert">
                                        Ta kategoria posiada podkategorie/produkty i nie można jej usunąć.
                                    </div>
                                    <ul id="katalog">
                                        <li><a href="#">Katalog</a> 
                                        <button id="createcategory" href="#product" type="button" 
                                                class="btn btn-xs btn-warning" data-toggle="modal" onclick="edit_item(0,0,1,0)">[ Nowa Kategoria ]
                                        </button>

                                            {% macro productMacro(array) %}
                                                {% import _self as pmacro %}
                                                <ul>
                                                    {% for product in array %}

                                                        {% if product.product_is_active %}
                                                            <li id="product_{{ product.product_id }}" title="{{ product.product_desc }}">

                                                                {{ product.product_name }}

                                                                {% if not product.product_is_category %}

                                                                    {{ (product.product_base_value/100)|number_format(2, '.', ',') }} zł

                                                                    <button type="button"
                                                                            onclick="edit_item({{ product.product_id }},1,{{ product.product_is_category }},{{ product.childrencount }})"
                                                                            class="btn btn-xs btn-success" href="#product" data-toggle="modal">[ edytuj ]
                                                                    </button>
                                                                    {% if product.childrencount == 0 %}
                                                                    <button type="button"
                                                                            onclick="edit_item({{ product.product_id }},2,{{ product.product_is_category }},{{ product.childrencount }})"
                                                                            class="btn btn-xs btn-danger">[ usuń ]
                                                                    </button>
                                                                    {% endif %}
                                                                {% else %}

                                                                    <button type="button"
                                                                            onclick="edit_item({{ product.product_id }},0,1,{{ product.childrencount }})"
                                                                            class="btn btn-xs btn-warning" href="#product" data-toggle="modal">[ Nowa SubKategoria ]
                                                                    </button>

                                                                    <button type="button"
                                                                            onclick="edit_item({{ product.product_id }},0,0,{{ product.childrencount }})"
                                                                            class="btn btn-xs btn-success" href="#product" data-toggle="modal">[ Nowy Produkt ]
                                                                    </button>

                                                                    <button type="button"
                                                                            onclick="edit_item({{ product.product_id }},1,{{ product.product_is_category }},{{ product.childrencount }})"
                                                                            class="btn btn-xs btn-success" href="#product" data-toggle="modal">[ edytuj ]
                                                                    </button>
                                                                    
                                                                    {% if product.childrencount == 0 %}
                                                                    <button type="button"
                                                                            onclick="edit_item({{ product.product_id }},2,{{ product.product_is_category }},{{ product.childrencount }})"
                                                                            class="btn btn-xs btn-danger">[ usuń ]
                                                                    </button>
                                                                    {% endif %}

                                                                {% endif %}

                                                                {% if not product.children|default([]) is empty %}

                                                                    {{ pmacro.productMacro(product.children) }}

                                                                {% endif %}
                                                            </li>
                                                        {% endif %}
                                                    {% endfor %}
                                                </ul>
                                            {% endmacro %}

                                            {% import _self as pmacro2 %}
                                            {{ pmacro2.productMacro(products) }}

                                        </li>
                                    </ul>
                                    <p>

                                    </p>
                                </div>
                            </div>

    </div> <!-- /container -->

<!-- /Modal Nowego Produktu / Kategorii -->
    <div id="product" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Tworzenie / Edycja Kategorii i produktów</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="product_form">
                    <!-- Reload for with product -->
                </div>
                <div class="modal-footer">
                    <button id="user-confirm-btn" type="button" class="btn btn-primary">Zatwierdź</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Nowego Użytkownika -->

    

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/treeview.js') }}"></script>
    <script>
        $('#katalog').treed({openedClass: 'glyphicon-folder-open', closedClass: 'glyphicon-folder-close', unfolded: true});

        $('#product').on('show.bs.modal', function(e) {
            showLoader();
            //$.post("{{ url('product_show') }}", {}, function(data, status) {
            //    $("#product_form").html(data);
            //    console.log("reload of modal")
            //});
            //if (!data) return e.preventDefault() // stops modal from being shown
        });

        function edit_item(i_id,i_action,i_is_category,i_childrencount) {
            if(i_childrencount > 0 && i_action == 2){
                $("#error_msg").show();
            }else{
                showLoader();
                if(i_action != 2){
                    $("#product").show();
                }
                $.post("{{ url('product_show') }}", {
                    product_id: i_id,
                    product_action: i_action,
                    product_type: i_is_category,
                    product_childrencount: i_childrencount
                }, function(data, status) {
                    setTimeout(function() {
                        if(status == 'success'){
                            if(i_action == 2 ){
                                $("#product_"+i_id).remove();
                                location.reload();
                            }else{
                                $("#product_form").html(data);
                                console.log("html injectl")
                            }
                            
                        }else{
                            //Fail
                        }
                        //$.post("{{ url('zamowienia_show') }}", {}, function(data, status) {
                        //    $("#zamowienie").html(data)
                        //});
                    }, 100);

                });
            }

        }

        $('#user-confirm-btn').on('click', function() {
            $.post(
                "{{ url('product_show') }}",
                $('#product-form').serialize()
            ).done(function(data) {
                $('#product').modal('hide');
                location.reload();
            });
        });

        $('#order-confirm-btn').on('click', function() {
            $.post(
                "{{ url('zamowienia_save') }}",
                $('#order-form').serialize()
            ).done(function(data) {
                $('#neworder').modal('hide');
                location.reload();
            });
        });

        function add_order_item(i_id, i_amount) {
            $.post("{{ url('zamowienia_add_item') }}", {
                item_id: i_id,
                item_count: i_amount,
                update_record: 1
            }).done(function(data) {
                let amountElem = $('#item-amount-' + i_id);

                if (amountElem.length > 0) {
                    let amount = amountElem.val();
                    amountElem.val(parseInt(amount) + i_amount);
                    saveOrder();
                } else {
                    refreshItems();
                }
            });
        }

        function remove_item(i_id) {
            $.post("{{ url('zamowienia_add_item') }}", {
                item_id: i_id,
                remove: i_id
            }, function(data, status) {
                setTimeout(function() {
                    $.post("{{ url('zamowienia_show') }}", {}, function(data, status) {
                        $("#zamowienie").html(data)
                    });
                }, 100);

            });

        }

        $('#zamowienie').on('focusout', 'input.item-amount', saveOrder);

        function saveOrder() {
            $('button.save-item-btn').trigger('click');
        }

        function save_order_item(i_id) {
            $.post("{{ url('zamowienia_add_item') }}", {
                item_id: i_id,
                item_count: $('#item-amount-' + i_id).val()
            }).done(function(data) {
                $.post("{{ url('zamowienia_show') }}", {}, function(data, status) {
                    $("#zamowienie").html(data)
                });
            });
        }

        function refreshItems() {
            $.post("{{ url('zamowienia_show') }}", {}, function(data, status) {
                $("#zamowienie").html(data);
            });
        }

        function showLoader() {
            $("#product_form").html('<tr><td colspan=6><center><img src="{{ asset('assets/img/loading.gif') }}"></center></td></tr> ');
        }

    </script>
{% endblock %}