{% extends "layout.html.twig" %}

{% block content %}
    <div class="container theme-showcase" role="main">

        <div class="page-header">
            <h1>Użytkownicy</h1>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <button href="#newuser" type="button" class="btn btn-lg btn-success" data-toggle="modal">
                Utwórz nowego użytkownika
                </button>
                <hr>
                <form id="order-filter" class="form-inline" method="get" action="{{ url('uzytkownicy') }}">
                    <div class="form-group">
                        Aktywny:
                        <select name="active[]" class="form-control" multiple="multiple">
                            {% for status in range(0, 1) %}
                                <option {{ filter.filters.active is defined and status in filter.filters.active.values ? 'selected="selected"' : '' }}
                                        value="{{ status }}">{{ status|status_active }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        Zablokowany:
                        <select name="locked[]" class="form-control" multiple="multiple">
                            {% for status in range(0, 1) %}
                                <option {{ filter.filters.locked is defined and status in filter.filters.locked.values ? 'selected="selected"' : '' }}
                                        value="{{ status }}">{{ status|status_locked }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        Imie: <input class="form-control" type="text" name="name"
                                             value="{{ filter.filters.name is defined ? filter.filters.name.value : '' }}">
                    </div>
                    <div class="form-group">
                        Nazwisko: <input class="form-control" type="text" name="surname"
                                             value="{{ filter.filters.surname is defined ? filter.filters.surname.value : '' }}">
                    </div>
                    <div class="form-group">
                        Email: <input class="form-control" type="text" name="email"
                                             value="{{ filter.filters.email is defined ? filter.filters.email.value : '' }}">
                    </div>
                    <div class="form-group">
                        Data: <input class="form-control" type="date" name="registered"
                                     value="{{ filter.filters.registered is defined ? filter.filters.registered.value|date('Y-m-d') : '' }}">
                    </div>
                    <input id="page" type="hidden" name="offset" value="{{ filter.page }}">
                    <button class="btn btn-default" type="submit">Szukaj</button>
                </form>
            </div>
        </div>
        <div class="row">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" data-page="1"
                                             href="javascript:void(0);"><<</a></li>
                    <li class="page-item"><a class="page-link" data-page="{{ filter.page - 1 }}"
                                             href="javascript:void(0);"><</a></li>
                    {% for page in range(filter.page - 3, filter.page + 3) %}
                        {% if page > 0 and page <= filter.maxPages %}
                            <li class="page-item {{ page == filter.page ? 'active' : '' }}"><a class="page-link"
                                                                                               data-page="{{ page }}"
                                                                                               href="javascript:void(0);">{{ page }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li class="page-item"><a class="page-link" data-page="{{ filter.page + 1 }}"
                                             href="javascript:void(0);">></a></li>
                    <li class="page-item"><a class="page-link" data-page="{{ filter.maxPages }}"
                                             href="javascript:void(0);">>></a></li>
                </ul>
            </nav>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>LP</th>
                    <th>Imie Nazwisko / Firma </th>
                    <th>Status</th>
                    <th>Uprawnienia</th>
                    <th>Data Utworzenia</th>
                </tr>
                </thead>
                <tbody>

                {% for i in users %}
                    <tr>
                        <td><a href="{{ url('kontodane_admin', { "user_id": i.c_id }) }}">{{ loop.index + (filter.page-1)*filter.perPage }}</a></td>
                        <td>{{ i.c_name }} {{ i.c_surname }}</td>
                        <td>
                            {{ i.c_isactive|status_active_label|raw }}
                            {{ i.c_islocked|status_locked_label|raw }}
                        </td>
                        <td>{{ i.c_roles }}</td>
                        <td>{{ i.c_registered |date("Y-m-d H:i:s") }}</td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
            <div class="pull-right">
                Ilość stron: <b>{{ filter.maxPages }}</b>
            </div>
        </div>

    </div> <!-- /container -->

    <!-- /Modal Platnosci -->
    <div id="payments" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Opłać</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Czy zatwierdzasz platność</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Tak Zapłac</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Platnosci -->

    <!-- /Modal Nowego Użykownika -->
    <div id="newuser" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Utwórz nowego uzytkownika.</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="user-form" class="form-horizontal">
                        <fieldset>

                            <!-- Form Name -->
                            <legend id="form_title">Formularz nowego użykownika</legend>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="c_name">Imie</label>
                                <div class="col-md-4">
                                    <input id="c_name" value="" name="c_name" type="string"
                                           placeholder="" class="form-control required="" input-md">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="c_surname">Nazwisko</label>
                                <div class="col-md-4">
                                    <input id="c_surname" value="" name="c_surname" type="string"
                                           placeholder="" class="form-control required="" input-md">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="c_phone">Telefon</label>
                                <div class="col-md-4">
                                    <input id="c_phone" value="" name="c_phone" type="string"
                                           placeholder="" class="form-control required="" input-md">
                                </div>
                            </div>

                            <!-- Text input-->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="c_email">Email</label>
                                <div class="col-md-4">
                                    <input id="c_email" value="" name="c_email" type="email"
                                           placeholder="" class="form-control required="" input-md">
                                </div>
                            </div>

                            <!-- Select Basic -->
                            <div class="form-group">
                                <label class="col-md-4 control-label" for="selectbasic">Typ Użytkownika</label>
                                <div class="col-md-4">
                                    <select id="c_roles" name="c_roles" class="form-control" title="">
                                        <option value="ROLE_USER">Klient</option>
                                        <option value="ROLE_ADMIN">Administrator</option>
                                    </select>
                                </div>
                            </div>

                        </fieldset>
                    </form>

                </div>
                <div class="modal-footer">
                    <button id="user-confirm-btn" type="button" class="btn btn-primary">Zatwierdź</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Anuluj</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /Modal Nowego Zamowienia -->

{% endblock %}

{% block scripts %}
    <script src="{{ asset('js/treeview.js') }}"></script>
    <script>

        $('#user-confirm-btn').on('click', function() {

            $.post(
                "{{ url('user_save') }}",
                $('#user-form').serialize()
            ).done(function(data) {
                $('#newuser').modal('hide');
                location.reload();
                $('#user-form').trigger("reset");
            });
            
        });
                $('.page-link').on('click', function() {
            let page = $(this).data('page');
            let orderFilter = $('#order-filter');

            orderFilter.find('input#page').val(page);
            orderFilter.submit();
        });

    </script>
{% endblock %}