{% for item in ordered_items %}
    <tr>
        <td>{{ loop.index }} </td>
        <td>{{ item.product }}</td>
        <td>{{ (item.oi_price/100)|number_format(2, '.', ',') }} zł</td>

        <td>
            <input {{ readonly ? 'readonly="readonly"' : '' }} id="item-amount-{{ item.oi_item_id }}" class="form-control item-amount" type="text" value="{{ item.oi_amount|default(0) }}">
        </td>
        <td>{{ (item.oi_price*item.oi_amount/100)|number_format(2, '.', ',') }} zł</td>
        <td>
            {% if not readonly %}
                <button id="orderitem{{ item.oi_id }}" type="button" onclick="save_order_item({{ item.oi_item_id }})"
                        class="btn btn-xs btn-danger hidden save-item-btn">[ zapisz ]
                </button>
                <button id="orderitem{{ item.oi_id }}" type="button" onclick="remove_order_item({{ item.oi_id }})"
                        class="btn btn-xs btn-danger">[ usuń ]
                </button>
            {% endif %}
        </td>
    </tr>
{% endfor %}
